<div style="display: flex; justify-content: center;">
  <div style="width: 60%;">
    <div>
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    <h5>History</h5>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Stock Amount</th>
        <th scope="col">Buying Price</th>
        <th scope="col">Buying Date</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>10</td>
        <td>10 Euro</td>
        <td>{{'2020/01/01' | date}}</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>10</td>
        <td>10 Euro</td>
        <td>{{'2020/01/01' | date}}</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>10</td>
        <td>10 Euro</td>
        <td>{{'2020/01/01' | date}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
